@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none; color:#000;}
img{ vertical-align:top; border:none;}
input,textarea{ outline:none; border:none;}
textarea{ resize:none;}




.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
body{ font:20px '微软雅黑';}
a{ display:block;}
img{ width:100%; height:100%;}

